@import "../config";
@import "../function"; 

$classname-closable: cls;

@include when($classname-closable){ 
    position: relative;
    top: -1px;
    right: -5px;
    text-align: right;
    padding: 0;
    border: 0; 
    line-height: 0;  
    outline: none;
    color: $muted-color;
    cursor: pointer;
    background: none;
    font-weight: normal;
    text-transform: none;
    text-rendering: auto;
    box-sizing: border-box;
    vertical-align: middle;
    &:hover{
        transition: $base-fast-transition;
        color: map-get($colors, danger);
    }
}