$icon-list: (
 font-size:"\e7b9",
 format-clear:"\e736",
 font-color:"\e6fc",
 font-style:"\e70a",
 line-height:"\e70b",
 fullscreen:"\e721",
 exit-fullscreen:"\e722",
 bgcolor:"\e70e",
 title:"\e650",
 font-bgcolor:"\e6d4",
 aligncenter:"\e600",
 alignjustify:"\e601",
 alignleft:"\e602",
 alignright:"\e606",
 anchor:"\e607",
 blockquote:"\e608",
 bold:"\e609",
 clean:"\e60b",
 code:"\e60c",
 configure:"\e60d",
 copy:"\e60e",
 corner:"\e60f",
 cut:"\e610",
 datetime:"\e611",
 explore:"\e612",
 help:"\e615",
 hr:"\e616",
 indent:"\e618",
 italic:"\e619",
 link:"\e61a",
 ltr:"\e61b",
 nbsp:"\e61c",
 new:"\e61d",
 ok:"\e61e",
 orderedlist:"\e61f",
 outdent:"\e620",
 pagebreak:"\e621",
 paragraph:"\e622",
 paste:"\e623",
 pasteastext:"\e624",
 preview:"\e625",
 print:"\e626",
 redo:"\e627",
 rtl:"\e628",
 save:"\e629",
 smiley:"\e62a",
 specialchar:"\e62b",
 spellcheck:"\e62c",
 strike:"\e62d",
 sub:"\e62e",
 sup:"\e62f",
 table:"\e630",
 template:"\e631",
 underline:"\e632",
 undo:"\e633",
 unlink:"\e634",
 unorderedlist:"\e635",
 video:"\e636",
 mark:"\e63a",
 image:"\e63e"
);