// Variables
// --------------------------
$icon-list: (
  all: "\e696",
  back: "\e697",
  close: "\e69a",
  comments: "\e69b",
  cry: "\e69c",
  delete: "\e69d",
  edit: "\e69e",
  email: "\e69f",
  favorite: "\e6a0",
  form: "\e6a2",
  help: "\e6a3",
  info: "\e6a4",
  less: "\e6a5",
  unfold: "\e6a6",
  more: "\e6a7",
  pic: "\e6a8",
  qrcode: "\e6a9",
  refresh: "\e6aa",
  search: "\e6ac",
  selected: "\e6ad",
  set: "\e6ae",
  smile: "\e6af",
  success: "\e6b1",
  view-gallery: "\e6b4",
  view-list: "\e6b5",
  warning: "\e6b6",
  wrong: "\e6b7",
  account: "\e6b8",
  add: "\e6b9",
  clock: "\e6bb",
  remind: "\e6bc",
  calendar: "\e6bf",
  box: "\e6cb",
  process: "\e6ce",
  scanning: "\e6ec",
  download: "\e714",
  bad: "\e716",
  good: "\e717",
  skip: "\e718",
  share: "\e71d",
  favorites-filling: "\e730",
  hot: "\e756",
  favorites: "\e7ce",
  password: "\e82b",
  help-fill: "\e87a",
  add-account: "\e87b"
);
